#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.completed {
  text-decoration: line-through;
}

.container {}

.actions {
  margin-left: 20px;
  display: inline-block;
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  margin-left: 60%;
  border-bottom: px solid #78b13f;
  border-right: 4px solid #78b13f;
}

input[type="text"] {
  width: 380px;
  margin: 5px;
}

#search {
  width: 60px;
}

ul {
  list-style-type: none;
}

li {

  margin: 5px;

}

.todoItem {
  display: inline-block;
  background-color: #d2c0c0;
  /* 
  color: aliceblue; */
  min-width: 380px;
  cursor: pointer;
}

.pending {

  background-color: #010000;
  color: white;


}